{% load static %}
<!doctype html>
<html>
<head>
    {% block link %}
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <link href="{% static 'css/catalog.css' %}" rel="stylesheet">
    {% endblock %}
    {% block script %}
        <!--[if lt IE 9]>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% endblock %}
<meta charset="utf-8">
<title>兔子🐰</title>
<meta name="keywords" content="兔子🐰个人博客" />


</head>
<body>

{% block top_nave %}
    <div class="topnav">
<a href="{% url 'index:enter' %}" target="_blank">兔子🐰</a>――本站文章部分来自网络<a href="{% url 'index:enter' %}" target="_blank">如有涉嫌侵权，请与本站邮箱联系</a>
</div>
{% endblock %}
{% block wrapper %}
    <div id="wrapper">
    {% block header %}
    <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">兔子🐰</div>
      <div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="blank"></div>
    {% block nav %}
        <nav>
        <div  class="navigation">
          <ul class="menu">
              {% block header_li %}
                <li><a href="{% url 'index:enter' %}">网站首页</a></li>
                <li><a href="{% url 'resource:downloadP' %}">网站资源</a>
                </li>
                <li><a href="{% url 'notification:noti' %}">网站公告</a>
                </li>
                  <li><a href="{% url 'blog:blog' %}">博客首页</a> </li>
                <li><a href="{% url 'blog:articles' %}">技术文章</a> </li>
                <li><a href="{% url 'leactos:show' %}">给我留言</a> </li>

              {% endblock %}

          </ul>
        </div>
      </nav>
    {% endblock %}

  <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT>
    </div>
  </header>
    {% endblock %}
{#    <canvas width="100%" height="100%" class="flare"></canvas>#}
{#	<canvas width="100%" height="100%" class="snow"></canvas>#}
{#	<canvas width="100%" height="100%" class="flake"></canvas>#}
  <div class="jztop"></div>

        {% block container %}
         <div class="container">
    <div class="bloglist f_l">

    {% for article in articles %}
      <h3><a href="{% url 'blog:article' a_id=article.id%}" target="_self">{{ article.title }}</a></h3>
      <figure><img src="{{ article.img_url }}" alt=""></figure>
      <ul>
        <p> {{ article.abstract }}</p>
        <a id ="{{ article.id }}" title="{{ article.title }}" href="{% url 'blog:article' a_id=article.id%}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ article.create_time }}</span><span>作者：{{ article.author_name }}</span></p>

    {% endfor %}
    {% block script_tag %}
    
    {% endblock %}


    </div>

    <!--首页主要文章部分结束-->

    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_self">我的电话</a></li>
            <li><a class="qq" href="#" target="_self">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_self" title="如果QQ未被唤起请按照提示添加我的QQ">我的QQ</a></li>
            <li><a class="prize" href="#" target="_self" title="个人奖项">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <div class="ad"></div>
    </div>
  </div>
        {% endblock %}



  <!-- container代码 结束 -->
  <div class="jzend"></div>
       {% block next_page %}
        <div class="next_page"></div>

    {% endblock %}
    {% block comment %}
        <div class="comment" style="position: relative; height: 180px;">
    {% endblock %}
{% block script_next %}

           {% endblock %}


</div></div>
{% endblock %}
{% block script_end %}

{% endblock %}
{% block footer %}
    <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="{% url 'index:enter' %}">XXX个人博客</a> 备案号：陕ICP备XXX号</p>
      </div>
      <div class="f_r textr">
        <p>XXX</p>
      </div>
    </div>
  </footer>
{% endblock %}

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="">xxxx</a>
	<a href="https://www.chazidian.com/"  title="xxx">xxxx</a>
</div>
<script src="{% static 'js/highlight.min.js' %}"></script>
{#    <script src="{% static 'js/snow.js' %}"></script>#}
{#    <script src="{% static 'js/snow_2.js' %}"></script>#}
    <script src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
    <script class="snow">
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
        function snowFall(snow) {
        /* 可配置属性 */
        snow = snow || {};
        this.maxFlake = snow.maxFlake || 50;   /* 最多片数 */
        this.flakeSize = snow.flakeSize || 5;  /* 雪花形状 */
        this.fallSpeed = snow.fallSpeed || 0.5;   /* 坠落速度 */
    }
    /* 兼容写法 */
    requestAnimationFrame = window.requestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        function(callback) { setTimeout(callback, 1000 / 60); };

    cancelAnimationFrame = window.cancelAnimationFrame ||
        window.mozCancelAnimationFrame ||
        window.webkitCancelAnimationFrame ||
        window.msCancelAnimationFrame ||
        window.oCancelAnimationFrame;
    /* 开始下雪 */
    snowFall.prototype.start = function(){
        /* 创建画布 */
        snowCanvas.apply(this);
        /* 创建雪花形状 */
        createFlakes.apply(this);
        /* 画雪 */
        drawSnow.apply(this)
    }
    /* 创建画布 */
    function snowCanvas() {
        /* 添加 Dom 结点 */
        var snowcanvas = document.createElement("canvas");
        snowcanvas.id = "snowfall";
        snowcanvas.width = window.innerWidth;
        snowcanvas.height = document.body.clientHeight;
        snowcanvas.setAttribute("style", "position:absolute; top: 0; left: 0; z-index: 1; pointer-events: none;");
        document.getElementsByTagName("body")[0].appendChild(snowcanvas);
        this.canvas = snowcanvas;
        this.ctx = snowcanvas.getContext("2d");
        /* 窗口大小改变的处理 */
        window.onresize = function() {
            snowcanvas.width = window.innerWidth;
            /* snowcanvas.height = window.innerHeight */
        }
    }
    /* 雪运动对象 */
    function flakeMove(canvasWidth, canvasHeight, flakeSize, fallSpeed) {
        this.x = Math.floor(Math.random() * canvasWidth);   /* x 坐标 */
        this.y = Math.floor(Math.random() * canvasHeight);  /* y 坐标 */
        this.size = Math.random() * flakeSize + 2;          /* 形状 */
        this.maxSize = flakeSize;                           /* 最大形状 */
        this.speed = Math.random() * 1 + fallSpeed;         /* 坠落速度 */
        this.fallSpeed = fallSpeed;                         /* 坠落速度 */
        this.velY = this.speed;                             /* Y 方向速度 */
        this.velX = 0;                                      /* X 方向速度 */
        this.stepSize = Math.random() / 30;                 /* 步长 */
        this.step = 0                                       /* 步数 */
    }
    flakeMove.prototype.update = function() {
        var x = this.x,
            y = this.y;
        /* 左右摆动(余弦) */
        this.velX *= 0.98;
        if (this.velY <= this.speed) {
            this.velY = this.speed
        }
        this.velX += Math.cos(this.step += .05) * this.stepSize;

        this.y += this.velY;
        this.x += this.velX;
        /* 飞出边界的处理 */
        if (this.x >= canvas.width || this.x <= 0 || this.y >= canvas.height || this.y <= 0) {
            this.reset(canvas.width, canvas.height)
        }
    };
    /* 飞出边界-放置最顶端继续坠落 */
    flakeMove.prototype.reset = function(width, height) {
        this.x = Math.floor(Math.random() * width);
        this.y = 0;
        this.size = Math.random() * this.maxSize + 2;
        this.speed = Math.random() * 1 + this.fallSpeed;
        this.velY = this.speed;
        this.velX = 0;
    };
    // 渲染雪花-随机形状（此处可修改雪花颜色！！！）
    flakeMove.prototype.render = function(ctx) {
        var snowFlake = ctx.createRadialGradient(this.x, this.y, 0, this.x, this.y, this.size);
        snowFlake.addColorStop(0, "rgba(255, 255, 255, 0.9)");  /* 此处是雪花颜色，默认是白色 */
        snowFlake.addColorStop(.5, "rgba(255, 255, 255, 0.5)"); /* 若要改为其他颜色，请自行查 */
        snowFlake.addColorStop(1, "rgba(255, 255, 255, 0)");    /* 找 16 进制的 RGB 颜色代码。 */
        ctx.save();
        ctx.fillStyle = snowFlake;
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2);
        ctx.fill();
        ctx.restore();
    };
    /* 创建雪花-定义形状 */
    function createFlakes() {
        var maxFlake = this.maxFlake,
            flakes = this.flakes = [],
            canvas = this.canvas;
        for (var i = 0; i < maxFlake; i++) {
            flakes.push(new flakeMove(canvas.width, canvas.height, this.flakeSize, this.fallSpeed))
        }
    }
    /* 画雪 */
    function drawSnow() {
        var maxFlake = this.maxFlake,
            flakes = this.flakes;
        ctx = this.ctx, canvas = this.canvas, that = this;
        /* 清空雪花 */
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for (var e = 0; e < maxFlake; e++) {
            flakes[e].update();
            flakes[e].render(ctx);
        }
        /*  一帧一帧的画 */
        this.loop = requestAnimationFrame(function() {
            drawSnow.apply(that);
        });
    }
    /* 调用及控制方法 */
    var snow = new snowFall({maxFlake:500});
    snow.start();
    </script>
<script class="mouse">

</script>
</body>
</html>
