{% load static %}
<!doctype html>
<html>
<head>
 <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="baidu-site-verification" content="CtYt4injW1" />
<meta name="360-site-verification" content="a75dcb147688915b4cc7cfaa71e996a2" />
{#<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">#}
<link href="{% static 'css/country_to_nanjing.css' %}" rel="stylesheet">

<link rel="Shortcut icon" href="{% static 'logo/jhl_logo.png' %}">
{#    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">#}
    {% block link %}

        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <link href="{% static 'css/catalog.css' %}" rel="stylesheet">
    {% endblock %}
{% block media_link %}
    <link href="{% static 'css/auto_meida.css' %}" rel="stylesheet">
{% endblock %}

    {% block script %}
        <!--[if lt IE 9]>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% endblock %}
<meta charset="utf-8">
<title>兔子🐰</title>
<meta name="keywords" content="兔子🐰个人博客" />


</head>
<body>

{% block top_nave %}
    <div class="topnav">
<a href="{% url 'index:enter' %}" target="_self">兔子🐰</a>――本站文章部分来自网络<a href="{% url 'index:enter' %}" target="_self">如有涉嫌侵权，请与本站邮箱联系</a>
</div>
{% endblock %}
{% block wrapper %}
    <nav id="mobileSlideBar">

    </nav>
    <div id="wrapper">
    {% block header %}
    <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">兔子🐰</div>
      <div class="search f_r">
        <form action="/search/" method="get" id="searchform">
          <input name="q" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
{#          <input name="show" value="title" type="hidden">#}
{#          <input name="tempid" value="1" type="hidden">#}
{#          <input name="tbname" value="news" type="hidden">#}
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="blank"></div>
    {% block nav %}
        <nav id="pcBar">

        </nav>
    {% endblock %}


  <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT>
    </div>
  </header>
    {% endblock %}
{#    <canvas width="100%" height="100%" class="flare"></canvas>#}
{#	<canvas width="100%" height="100%" class="snow"></canvas>#}
{#	<canvas width="100%" height="100%" class="flake"></canvas>#}
  <button class="nav-mobile-button">
    <span class="sr-only"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
        <div class="jztop"></div>
        {% block container %}
         <div class="container">
    <div class="bloglist f_l">
    {% block show_content %}
        {% for article in articles %}
      <h3><a href="{% url 'blog:article' a_id=article.id%}" target="_self">{{ article.title }}</a></h3>
      <figure><img src="{{ article.img_url }}" alt=""></figure>
      <ul>
        <p> {{ article.abstract }}</p>
        <a id ="{{ article.id }}" title="{{ article.title }}" href="{% url 'blog:article' a_id=article.id%}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ article.create_time }}</span><span>作者：{{ article.author_name }}</span></p>

    {% endfor %}
    {% endblock %}

    {% block script_tag %}
    
    {% endblock %}


    </div>

    <!--首页主要文章部分结束-->

    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_self" onclick="alert('15801736647')">我的电话</a></li>
            <li><a class="qq" href="#" target="_self" onclick="alert('1214662198@qq.com')">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_self" onclick="alert('1214662198')">我的QQ</a></li>
            <li><a class="prize" href="#" target="_self" onclick="alert('啊，低调低调')">个人奖项</a></li>
          </ul>
        </div>
        <div class="tuwen">
        <h3 class="tit">时间小窗</h3>
        <ul>
            <li><b>今天还剩：</b></a>
            <span class="tutime" id="nowDay">请稍后</span>
          </li>
            <li><b>这周还剩：</b></a>
            <span class="tutime" id="nowWeek">请稍后</span>
          </li>
            <li><b>当月还剩：</b></a>
            <span class="tutime" id="nowMonth">请稍后</span>
          </li>
            <li><b>考研还剩：</b></a>
            <span class="tutime" id="timeStudy">请稍等</span>
          </li>

        </ul>
      </div>
      </div>
      <div class="ad"></div>
    </div>
  </div>
        {% endblock %}



  <!-- container代码 结束 -->
  <div class="jzend"></div>
       {% block next_page %}
        <div class="next_page"></div>

    {% endblock %}
    {% block comment %}
        <div class="comment" style="position: relative; height: 180px;">
    {% endblock %}
{% block script_next %}

           {% endblock %}


</div></div>
{% endblock %}
{% block script_end %}

{% endblock %}
{% block footer %}
    <footer>
    <div class="footer">
      <div class="f_l">
        <p>
            Copyright © www.rabbitj.top All Rights Reserved.
{#            <a href="{% url 'index:enter' %}">#}
{#                兔子的个人博客#}
{#            </a>#}
            <br>
            <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备2021037462号</a>
        </p>
{#          <p>备案号：沪ICP备2021037462号</p>#}
      </div>
{#      <div class="textr">#}
{#        <p>备案号：沪ICP备2021037462号</p>#}
{#      </div>#}
    </div>
  </footer>
{% endblock %}

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="">xxxx</a>
	<a href="https://www.chazidian.com/"  title="xxx">xxxx</a>
</div>
<script src="{% static 'js/highlight.min.js' %}"></script>
{#    <script src="{% static 'js/snow.js' %}"></script>#}
{#    <script src="{% static 'js/snow_2.js' %}"></script>#}
    <script src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
    <script class="snow" src="{% static 'js/really_snow.js' %}">
    </script>
<script>
    function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone","SymbianOS", "Windows Phone", "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
};
    $(document).ready(function(){
    var isPC=IsPC();
    if(isPC){
        //这里执行的是PC端的代码；
        $("#pcBar").append(`<div  class="navigation">

          <ul class="menu" id="menu_a">
              {% block header_li %}
                <li><a href="{% url 'index:enter' %}">网站首页</a></li>
                <li><a href="{% url 'resource:downloadP' %}">网站资源</a>
                </li>
                <li><a href="{% url 'notification:noti' %}">网站公告</a>
                </li>
                  <li><a href="{% url 'blog:blog' %}">博客首页</a> </li>
                <li><a href="{% url 'blog:articles' %}">技术文章</a> </li>
                <li><a href="{% url 'leactos:show' %}">给我留言</a> </li>

              {% endblock %}

          </ul>
        </div>`)
    }
});

    function timeStudy() {
        var date1 = new Date();
        console.log(date1)
        console.log(date1.getMonth())
        let year;
        if(date1.getMonth()===11&&date1.getDate()>=26)
        {
            year = date1.getFullYear()+1;
        }
        else {
            year = date1.getFullYear()
        }
        var date2 = new Date(year, 11, 25);
        console.log(date2)
        var lastTime = (date2 - date1 )/1000;
        console.log(date2 - date1)
        var d,h,m,s,timeText;
        var oP = document.getElementById('timeStudy');
        setInterval(function(){
            lastTime--;
            d = parseInt(lastTime /(24*3600));
            console.log(d);
            h = parseInt(lastTime/60/60%24);
            m = parseInt(lastTime/60%60);
            s = parseInt(lastTime%60);
            s = s < 10 ? "0" + s : s ;
            timeText = d + "天" + h +"时" + m + "分" + s + "秒";
            oP.innerHTML = timeText;
        },1000)
    }
    function nowDay() {
        var date1 = new Date();
        var date2 = new Date(date1.getFullYear(),date1.getMonth(),date1.getDate()+1);
        var lastTime = (date2 - date1 )/1000;
        var h,m,s,timeText;
        var oP = $('#nowDay');
        setInterval(function(){
            lastTime--;
            h = parseInt(lastTime/60/60%24);
            m = parseInt(lastTime/60%60);
            s = parseInt(lastTime%60);
            s = s < 10 ? "0" + s : s ;
            timeText =h +"时" + m + "分" + s + "秒";
            oP.text(timeText);
        },1000)
    }
    function nowMonth() {
        var date1 = new Date();
        var date2 = new Date(date1.getFullYear(),date1.getMonth()+1,1);
        var lastTime = (date2 - date1 )/1000;
        var d,h,m,s,timeText;
        var oP = $('#nowMonth');
        setInterval(function(){
            lastTime--;
            d = parseInt(lastTime /(24*3600));
            h = parseInt(lastTime/60/60%24);
            m = parseInt(lastTime/60%60);
            s = parseInt(lastTime%60);
            s = s < 10 ? "0" + s : s ;
            timeText = d + "天" + h +"时" + m + "分" + s + "秒";
            oP.text(timeText);
        },1000)
    }
    function nowWeek() {
        var date1 = new Date();
        let goDay = 7 - date1.getDay()+1;
        if(goDay===0)
        {
            goDay = 1;
        }
        let extraTime = new Date(date1.getFullYear(),date1.getMonth(),date1.getDate()+1);
        let date2 = date1.getTime()+goDay*86400*1000-(24*60*60*1000-(extraTime-date1));
        console.log(date1, date2)
        var lastTime = (date2 - date1 )/1000;
        var d,h,m,s,timeText;
        var oP = $('#nowWeek');
        setInterval(function(){
            lastTime--;
            d = parseInt(lastTime /(24*3600));
            h = parseInt(lastTime/60/60%24);
            m = parseInt(lastTime/60%60);
            s = parseInt(lastTime%60);
            s = s < 10 ? "0" + s : s ;
            timeText = d + "天" + h +"时" + m + "分" + s + "秒";
            oP.text(timeText);
        },1000)
    }
    timeStudy();
    nowDay();
    nowMonth();
    nowWeek();
    let flag = 0;

    $(function(){
      $(".nav-mobile-button").on("click", function(){
          $("#menu_a").css(
              {display:'block'}
          );
          {#console.log($(".menu li a").css('display'))#}
        $(this).toggleClass("fa-reorder");
        $(this).toggleClass("fa-remove");
        if(flag===0)
        {
            {#$("#pcBar").html('')#}
            $("#mobileSlideBar").append(`<div  class="navigation">
          <ul class="menu">
                <li><a href="{% url 'index:enter' %}">网站首页</a></li>
                <li><a href="{% url 'resource:downloadP' %}">网站资源</a>
                </li>
                <li><a href="{% url 'notification:noti' %}">网站公告</a>
                </li>
                  <li><a href="{% url 'blog:blog' %}">博客首页</a> </li>
                <li><a href="{% url 'blog:articles' %}">技术文章</a> </li>
                <li><a href="{% url 'leactos:show' %}">给我留言</a> </li>
          </ul>
        </div>`)
            $(".navigation").toggleClass("slide");
            $("#pcBar").html('')
            {#$("#mobileSlideBar").html('')#}
            flag = 1
        }
        else {
            $("#mobileSlideBar").html('')
            flag = 0
        }


      })
    })

</script>
<script class="mouse">

</script>
</body>
</html>
