{% load static %}
<!doctype html>
<html>
<head>
    {% block link %}
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% endblock %}
    {% block script %}
        <!--[if lt IE 9]>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% endblock %}
<meta charset="utf-8">
<title>兔子🐰</title>
<meta name="keywords" content="兔子🐰个人博客" />


</head>
<body>
<div class="topnav">
<a href="{% url 'index:enter' %}" target="_blank">兔子🐰</a>――本站文章部分来自网络<a href="{% url 'index:enter' %}" target="_blank">如有涉嫌侵权，请与本站邮箱联系</a>
</div>
{% block wrapper %}
    <div id="wrapper">
    {% block header %}
    <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">兔子🐰</div>
      <div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="blank"></div>
    {% block nav %}
        <nav>
        <div  class="navigation">
          <ul class="menu">
              {% block header_li %}
                <li><a href="{% url 'index:enter' %}">网站首页</a></li>
                <li><a href="{% url 'resource:downloadP' %}">网站资源</a>
                </li>
                <li><a href="{% url 'notification:noti' %}">网站公告</a>
                </li>
                  <li><a href="{% url 'blog:blog' %}">博客首页</a> </li>
                <li><a href="{% url 'blog:articles' %}">技术文章</a> </li>
                <li><a href="{% url 'leactos:show' %}">给我留言</a> </li>

              {% endblock %}

          </ul>
        </div>
      </nav>
    {% endblock %}

  <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT>
    </div>
  </header>
    {% endblock %}

  <div class="jztop"></div>

        {% block container %}
         <div class="container">
    <div class="bloglist f_l">

    {% for article in articles %}
      <h3><a href="{% url 'blog:article' a_id=article.id%}" target="_self">{{ article.title }}</a></h3>
      <figure><img src="{{ article.img_url }}" alt=""></figure>
      <ul>
        <p> {{ article.abstract }}</p>
        <a id ="{{ article.id }}" title="{{ article.title }}" href="{% url 'blog:article' a_id=article.id%}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ article.create_time }}</span><span>作者：{{ article.author_name }}</span></p>

    {% endfor %}
    {% block script_tag %}
    
    {% endblock %}


    </div>

    <!--首页主要文章部分结束-->

    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_self">我的电话</a></li>
            <li><a class="qq" href="#" target="_self">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_self" title="如果QQ未被唤起请按照提示添加我的QQ">我的QQ</a></li>
            <li><a class="prize" href="#" target="_self" title="个人奖项">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <div class="ad"></div>
    </div>
  </div>
        {% endblock %}



  <!-- container代码 结束 -->
  <div class="jzend"></div>
       {% block next_page %}
        <div class="next_page"></div>

    {% endblock %}
    {% block comment %}
        <div class="comment" style="position: relative; height: 180px;">
    {% endblock %}
{% block script_next %}

           {% endblock %}


</div></div>
{% endblock %}
{% block script_end %}

{% endblock %}
{% block footer %}
    <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="{% url 'index:enter' %}">XXX个人博客</a> 备案号：陕ICP备XXX号</p>
      </div>
      <div class="f_r textr">
        <p>XXX</p>
      </div>
    </div>
  </footer>
{% endblock %}

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="">xxxx</a>
	<a href="https://www.chazidian.com/"  title="xxx">xxxx</a>
</div>
</body>
</html>
