{% extends "base/base_article.html" %}
{% load static %}
{% block link %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <link href="{% static 'css/catalog.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/auto_meida.css' %}">
{% endblock %}

{% block container %}
    <main id="container">
  <div class="login-contain">
    <div class="top-contain">
      <h4 class="please-login">请登录</h4>
      <a href="{% url 'index:register' %}" class="register">立即注册 &gt;</a>
    </div>
    <form action="" method="post" class="form-contain">
        {% csrf_token %}
      <div class="form-item">
        <input type="tel" placeholder="请输入手机号或用户名" name="telephone" class="form-control" autocomplete="off">
      </div>
      <div class="form-item">
        <input type="password" placeholder="请输入密码" name="password" class="form-control">
      </div>
      <div class="form-item clearfix">
        <label>
          <input type="checkbox" name="remember">
          <span>记住我</span>
        </label>
        <a href="javascript:void(0);" class="forget-password">忘记密码?</a>
      </div>
      <div class="form-login">
        <input type="submit" value="登录" class="login-btn">
      </div>
    </form>
  </div>
</main>
{% endblock %}
{% block script_register %}
    <script src="{% static 'js/registerAndLogin/message.js' %}"></script>
    <script src="{% static 'js/login/login.js' %}">

    </script>
{% endblock %}