
@media screen and (max-width: 600px) {
	.bloglist ul{
				width: 10rem;
	}
	.footer p{
				line-height: 24px;
				position: relative;
				left: 5.5rem;
	}
	.topnav {
				height: 50px;
				color: #000;
				text-align: center;
				background: rgba(255, 255, 255, 0.58);
				position: fixed;
				width: 100%;
				top: 0;
				z-index: 999;
				box-shadow: #333 0px 2px 2px;
				line-height: 1rem;
			}
	.dateview {
		width: 19.05rem;
		overflow: hidden;
		clear: both;
		margin: 10px 0 0 0;
		display: inline-block;
		background: #f6f6f6 url(../images/time.jpg) 15px center no-repeat;
		line-height: 26px;
		height: 26px;
		color: #838383;
		padding-left: 25px;
	}
	.jztop {
		background: url(../images/mainendbgmobileend.png) no-repeat;
		width: 28rem;
		margin: auto;
		height: 14px;
	}
	.jzend {
		background: url(../images/mainendbgmobileend.png) no-repeat;
		width: 28rem;
		margin: auto;
		height: 14px;
	}
	.navigation{
		float: left;
		width: 100px;
		height: 100%;
		background: transparent;
		color: black;
		margin-left: -100px;
		transition: 0.8s;
		margin-top: 4rem;
	}
  .slide{
    margin-left: 0;
  }
  .navigation ul{
    position: relative;
    margin: 0;
    padding: 0;
  }
  .navigation ul li{
    list-style: none;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.8s;
  }
  .navigation ul li span{
    width: 100%;
  }
  .navigation ul li:hover{
    background: #1abc9c;
  }
  .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	  /*content: "展开";*/
	  /*font-size: 2rem;*/
	}
  .fa-navicon:before, .fa-remove:before, .fa-bars:before {
	  /*content: "收起";*/
	  /*font-size: 2rem;*/
	}
  .menu li a{
	  color: black;
  }
  .nav-mobile-button {
		position: relative;
		float: left;
		padding: 9px 20px;
		margin-top: -123px;
		/* margin-right: 15px; */
		/* margin-bottom: 8px; */
		background-color: transparent;
		/* background-image: none; */
		border: 1px solid transparent;
		border-radius: 4px;
		/* background: #eee; */
	}
	.nav-mobile-button .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
	.nav-mobile-button .icon-bar {
            display: block;
            margin-top: 4px;
            width: 22px;
            height: 2px;
            background: #f65d3f;
            border-radius: 1px;
        }
	.con_content {
		overflow: hidden;
		width: 22rem;
		margin: auto;
		border: #CCC 1px solid;
	}
	.lispic li img {
		display: block;
		margin: auto;
		height: 10rem;
		width: auto;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
	}
}