@media screen and (max-width: 600px) {

			.bloglist ul{
				width: 10rem;
			}

		}

@media screen and (max-width: 600px) {

			.navigation{
				width: 10rem;
				background: transparent;
			}

		}

@media screen and (max-width: 600px) {

			.footer p{
				line-height: 24px;
				position: relative;
				left: 105px;
			}

		}