
@media screen and (max-width: 835px) {

	.bloglist ul{
				width: 10rem;
	}
	.footer p{
				line-height: 24px;
				position: relative;
				left: 5.5rem;
	}
	.topnav {
				height: 50px;
				color: #000;
				text-align: center;
				background: rgba(255, 255, 255, 0.58);
				position: fixed;
				width: 100%;
				top: 0;
				z-index: 999;
				box-shadow: #333 0px 2px 2px;
				line-height: 1rem;
			}
	.dateview {
		width: 19.05rem;
		overflow: hidden;
		clear: both;
		margin: 10px 0 0 0;
		display: inline-block;
		background: #f6f6f6 url(../images/time.jpg) 15px center no-repeat;
		line-height: 26px;
		height: 26px;
		color: #838383;
		padding-left: 25px;
	}
	.navigation{
		float: left;
		width: 100px;
		height: 100%;
		background: transparent;
		color: black;
		margin-left: -100px;
		transition: 0.8s;
		margin-top: 7rem;
	}
  .slide{
    margin-left: 0;
  }
  .navigation ul{
    position: relative;
    margin: 0;
    padding: 0;
  }
  .navigation ul li{
    list-style: none;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.8s;
  }
  .navigation ul li span{
    width: 100%;
  }
  .navigation ul li:hover{
    background: #1abc9c;
  }
  .ctrl-btn{
	  /*border: 3px red solid;*/
    /*float: left;*/
    font-size: 3rem;
    cursor: pointer;
  }
  .fa-navicon:before, .fa-reorder:before, .fa-bars:before {

	}
  .fa-navicon:before, .fa-remove:before, .fa-bars:before {

	}
  .con_content {
		overflow: hidden;
		width: 35rem;
		margin: auto;
		border: #CCC 1px solid;
		margin-left: -3rem;
	}
    b, strong {
		display: none;
        font-weight: bold;
		position: relative;
		/* top: -5rem; */
		left: 10rem;
	}
	.about_content p img {
		margin: auto;
		width: 32rem;
		height: 400px;
	}
	.jztop{
		display: none;
	}
	.jzend{
		display: none;
	}
  .container {
		background: #e5e5e5;
		overflow: hidden;
		width: 32rem;
		margin: auto;
		/*margin-left: 3rem;*/
		border-left: #d2d2d2 1px solid;
		border-right: #d2d2d2 1px solid;
	}
  .box_p {
		border: #ccc 1px dashed;
		text-align: center;
		padding: 5px 0;
		margin: 1px 30px 10px 30px;
		color: #999;
	}

}