{% extends 'base/base_article.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'res/layui/css/layui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'res/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <link href="{% static 'css/article_next_button.css' %}" rel="stylesheet">
        <link href="{% static 'css/code.css' %}" rel="stylesheet">
{% endblock %}

<!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="{% static 'res/layui/html5shiv.js' %}"></script>
<script src="{% static 'res/layui/respond.min.js' %}"></script>
<![endif]-->

{% block script_end %}
    <script type="text/javascript" src="{% static 'res/layui/layui.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="content whisper-content leacots-content">
    <div class="cont w1000">
      <div class="whisper-list">
        <div class="item-box">
          <div class="review-version">
              <div class="form-box">
                <img class="banner-img" src="{% static 'images/header.png' %}">
                <div class="form">
                  <form class="layui-form" action="">
                    <div class="layui-form-item layui-form-text">
                        <span>名称：</span><input type="text" placeholder="请输入个名称吧" id="name">
                      <div class="layui-input-block">
                        <textarea id="context" placeholder="既然来了，就说几句" class="layui-textarea" style="color: black"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block" style="text-align: right;">
                        <a class="layui-btn definite" id="s_data" type="submit">確定</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="volume">
                全部留言 <span>{{ comments_num }}</span>
              </div>
              <div class="list-cont">
                  {% for comment in comments %}
                    <div class="cont">
{#                  <div class="img">#}
{#                    <img src="../res/img/header.png" alt="">#}
{#                  </div>#}
                  <div class="text">
                    <p class="tit"><span class="name">{{ comment.name }}</span><span class="data">{{ comment.update_time}}</span></p>
                    <p class="ct">{{ comment.content }}</p>
                  </div>
                </div>
                  {% endfor %}
              </div>
          </div>
        </div>
      </div>
      <div id="demo" style="text-align: center;"></div>
    </div>
  </div>

{% endblock %}
{% block next_page %}
    <div class="pagelist" style="position: relative;left: 530px;">页次：<span id="now">{{ page_now }}</span>/{{ page_num }}页&nbsp <input id="goToPage" class="jump" type="text" style="width: 30px;height: 10px;"><a href="javascript:void(0)" onclick="goPage()" id="go" onkeydown="goPage()">点击跳转</a> 每页{{ every_page_show }}条 总数{{ all_num }}<a href="{% url 'leactos:show' %}?page=1" id="first_page">首页</a><a href="{% url 'leactos:show' %}?page={{ page_now|add:-1 }}" target="_self" id="back_page">上一页</a><a href="{% url 'leactos:show' %}?page={{ page_now|add:1 }}" id="next_page">下一页</a>
        <a href="{% url 'leactos:show'  %}?page={{ page_num }}" id="final_page">尾页</a></div>

{% endblock %}
{% block script_next %}
        <script type="text/javascript">
        $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
        }
        }
        return cookieValue;
        }
        function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
        });
            $("#s_data").click(function () {
                let user_name = document.getElementById("name").value
                let context = document.getElementById("context").value
                SdataParams = {
                    "name": user_name,
                    "context" : context
                }
                $.ajax({
                    url: "",
                  // 请求方式
                  type: "POST",
                  data: JSON.stringify(SdataParams),
                     headers: {
              //           // 根据后端开启的CSRFProtect保护，cookie字段名固定为X-CSRFToken
                    {#"X-CSRFToken": {% csrf_token %}#}
              },
                  // 请求内容的数据类型（前端发给后端的格式）
                  contentType: "application/json; charset=utf-8",
                  // 响应数据的格式（后端返回给前端的格式）
                  dataType: "json",

                }).done(function () {
                    window.location.href = "?page=1"
                })
            })
            function goPage() {
        // 向后端发送请求
            {#let now_page = $("#now").text()#}
            {#let final_page = $()#}
            let to_page = Number(document.getElementById("goToPage").value);
            window.location.href = "?page="+to_page
        }
        $(function(){
              $(document).keypress(function (e) {
                if (e.keyCode == 13){
                    goPage()
                }
                  //do something
             })
         });
        </script>
    {% endblock %}

