{% load static %}
<!doctype html>
<html>
<meta name="description" content="XXX个人博客，本站会给大家不定时更新关于web前端的一些小技巧。如大家有不懂得问题，也可以与我们联系，我们会尽力帮助您。">
<head>
<link rel="shortcut icon" href="../../static/images/logo.png">
<meta charset="utf-8">
<meta name="author" content="order by dede58.com/" />

<meta name="keywords" content="个人博客" />
<meta name="keywords" content="博客搭建" />
<meta name="keywords" content="博客网站" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="baidu-site-verification" content="CtYt4injW1" />
<meta name="360-site-verification" content="a75dcb147688915b4cc7cfaa71e996a2" />
<title>兔子🐰</title>
<meta name="keywords" content="兔子🐰个人博客" />
<link href="../../static/css/base.css" rel="stylesheet">
<link href="../../static/css/index.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="../../static/js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript" src="../../static/js/jquery.js"></script>
</head>
<body>
<div class="topnav">
<a href="http://www.tthcclove.cn" target="_blank">兔子🐰</a>――本站文章部分来自网络<a href="http://www.tthcclove.cn" target="_blank">如有涉嫌侵权，请与本站邮箱联系</a>
</div>
<div id="wrapper">
  <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">兔子🐰</div>
      <div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
            <li><a href="index.html">网站首页</a></li>
            <li><a href="#">关于我</a>
              <ul>
                <li><a href="about.html">个人简介</a></li>
                <li><a href="listsource.html">相册</a></li>
              </ul>
            </li>
            <li><a href="404.html">我的日记</a>
              <ul>
                <li><a href="newslistpic.html">个人日记</a></li>
                <li><a href="newslistpic.html">学习笔记</a></li>
              </ul>
            </li>
            <li><a href="404.html">技术文章</a> </li>
            <li><a href="404.html">给我留言</a> </li>
          </ul>
        </div>
      </nav>
  <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT>
    </div>
  </header>
  <div class="jztop"></div>
    {% block main %}
    <div class="container">
    <div class="bloglist f_l">

    {% for article in articles %}
            <!--@@@@第一篇文章开始@@@@-->
      <h3><a href="w1.html" target="_blank">{{ article.title }}</a></h3>
      <figure><img src="images/img_1.jpg" alt="【从前端菜鸟到大神】一片总结的很好的文章"></figure>
      <ul>
        <p> {{ article.abstract }}</p>
        <a title="{{ article.title }}" href="w1.html" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ article.create_time }}</span><span>作者：XXX</span><span>个人博客：<a href="/jstt/bj/">{{ article.tag.name }}</a></span></p>
    {% endfor %}



    </div>

    <!--首页主要文章部分结束-->

    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="tel:XXX" target="_blank">我的电话</a></li>
            <li><a class="qq" href="mailto:XXX@qq.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="http://wpa.qq.com/msgrd?v=3&uin=XXX&site=qq&menu=yes" target="_blank" title="如果QQ未被唤起请按照提示添加我的QQ">我的QQ</a></li>
            <li><a class="prize" href="#" title="个人奖项">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <div class="ad"></div>
    </div>
  </div>
    {% endblock %}


  <!-- container代码 结束 -->
  <div class="jzend"></div>



  <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="http://www.tthcclove.cn">XXX个人博客</a> 备案号：陕ICP备XXX号</p>
      </div>
      <div class="f_r textr">
        <p>XXX</p>
      </div>
    </div>
  </footer>
</div>
<!--百度推送代码-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="网站模板">模板之家</a>
	<a href="https://www.chazidian.com/"  title="查字典">查字典</a>
</div>
</body>
</html>
