{% extends 'base/base_article.html' %}
{% load static %}

{% block link %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/auto_meida.css' %}">
    <link rel="stylesheet" href="{% static 'css/auto_meida_tag_resource.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
    <!--[if lt IE 9]>
{% endblock %}


{% block script %}
     <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/shang.js' %}"></script>
{% endblock %}

    {% block container %}
            <div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">{{ now_location }}</a></span><b>{{ now_location }}</b></h2>
      <div class="lispic">
        <ul>
            {% for resource in resources %}
{#                <li><a href="javascript:void(0)" onclick="downloadFile('{{ resource.img_url }}', {{ resource.id }}, '{{ resource.title }}', '{{ resource.type }}')" id="{{ resource.id }}"><img src="{{ resource.source }}"><span>{{ resource.title }}</span></a></li>#}
                <li>
                    <a href="{% url 'resource:download' %}?source_id={{ resource.id }}" id="{{ resource.id }}">
                        <img src="{{ resource.img_url }}">
                        <span>{{ resource.title }}</span>
                    </a>
                </li>
            {% endfor %}

        {% block script_tag %}
            <script type="text/javascript">
                {#console.log("wolaile")#}
                function downloadFile(source_url, source_id, url, type) {
                    let SdataParams = {
                        source_ur: source_url,
                        source_id: source_id,
                        title: url,
                        type: type
                    }
                    $.ajax({
                        url: "download",
                      // 请求方式
                      type: "POST",
                      data: JSON.stringify(SdataParams),
                      // 请求内容的数据类型（前端发给后端的格式）
                      contentType: "application/json; charset=utf-8",
                      // 响应数据的格式（后端返回给前端的格式）
                      dataType: "json",
                    }).done(function (res) {

                    })

                }
            </script>
        {% endblock %}
        </ul>
      </div>
{#    {{ page_next }} = {{ page_num }} + 1#}
      <div class="pagelist">页次：{{ now_page }}/{{ page_num }}页&nbsp <input id="goToPage" class="jump" type="text"><a href="javascript:void(0)" onclick="goPage()" id="go">点击跳转</a> 每页{{ page_every_show }}条 总数{{ all_num }}<a href="{% url 'resource:resource_list' tag_name=tag_name %}?page_down=1">首页</a><a href="{% url 'resource:resource_list' tag_name=tag_name%}?page_down={{ now_page }}">上一页</a><a href="{% url 'resource:resource_list' tag_name=tag_name%}?page_up={{ now_page }}">下一页</a><a href="{% url 'resource:resource_list' tag_name=tag_name %}?page_up={{ page_num }}">尾页</a></div>
    </div>
  {% block script_next %}
      <script type="text/javascript">
        function goPage() {
                let page = Number(document.getElementById('goToPage').value);
                window.location.href = "?page_to=" + page
            }


            $(function(){
              $(document).keypress(function (e) {
                if (e.keyCode == 13){
                    goPage()
                }
                  //do something
             })
         });
      </script>
  {% endblock %}
  </div>

</div>
    {% endblock %}
</div>
<!--百度推送代码-->

