{% extends 'base/base_article.html' %}
{% load static %}

{% block link %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/catalog.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static "css/auto_meida.css" %}">
    <link rel="stylesheet" href="{% static "css/media_article.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">

    <!--[if lt IE 9]>

{% endblock %}
{% block script %}
     <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/shang.js' %}"></script>
{% endblock %}
{% block top_nave %}
{% endblock %}
{% block container %}
    <div class="container">
    <div class="con_content">
      <div class="about_box">
          <div class="blog-catalog" id="catalog"><span style="color: black;font-size: 20px">目录</span>{{ toc | safe }}</div>
        <h2 class="nh1"><span>您现在的位置是：<a href="/article/lists/" target="_self">文章展示</a>>><a href="#" target="_self">{{ article.title }}</a></span><b>{{ article.title }}</b></h2>
        <div class="f_box">
          <p class="a_title"></p>
          <p class="p_title"></p>
            <p class="box_p"><span>发布时间：{{ article.create_time }}</span><span>作者：{{ article.author_name }}</span><span>来源：<a
                    href="{{ article.source }}" target="_blank">点击前往</a></span><span>访问次数：{{ article.click }}</span></p>
          <!-- 可用于内容模板 -->
        </div>

        <ul class="about_content">
            <div class="blog-context">{{ article.content | safe }}</div>

        </ul>
          <a href="#" target="_top">返回顶部</a>




        <!-- container代码 结束 -->

          <div class="shang_a">
              <div class="one"></div>
              <div class="two"><img src="{% static 'images/wexin.jpeg' %}" alt="" width="200" height="200"></div>

          </div>
      </div>
    </div>

    <div class="blank"></div>
  </div>
{% endblock %}
{% block script_end %}
    <script type="text/javascript" src="{% static 'js/catalog.js' %}"></script>
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <script src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script>
        function copyUrl2(obj) {
            {#var Url2 = document.getElementById("qipa250");#}
            {#Url2.select(); // 选择对象#}
            {#this.document.execCommand("Copy"); // 执行浏览器复制命令#}
            {#$(obj).text('复制')#}
            $("#copy").removeAttr('id')
            $(obj).text('')
            $(obj).parents("pre:first").attr('id', 'copy')
            {#$(obj).parents("pre:first").replace('复制', '')#}
            clipboard = new Clipboard('.button_copy');
            $(obj).text('复制成功')
            {#$(obj).text('复制')#}
            {#$("#copy").select();#}
            {#document.execCommand('Copy')#}
            {#alert("已复制好，可贴粘。");#}
            {#alert($(obj).parents("pre:first").text())#}

        }
        hljs.initHighlightingOnLoad(); // 初始化
        hljs.initLineNumbersOnLoad();
            $(".codehilite pre").prepend(` <button class="button_copy" onclick="copyUrl2(this)" data-clipboard-action="copy" data-clipboard-target="#copy"><span>复制</span></> `)
        $(".codehilite").mouseover(function () {
            $('.button_copy').css('display', 'block')
        })
        $(".codehilite").mouseout(function () {
            $('.button_copy').text('复制')
            $('.button_copy').css('display', 'none')
        })

    </script>
{% endblock %}
