{% extends 'base/base_article.html' %}
{% load static %}

{% block link %}
    <link href="../../static/css/base.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
    <!--[if lt IE 9]>

{% endblock %}
{% block script %}
     <script src="../../static/js/modernizr.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script src="../../static/js/shang.js"></script>
{% endblock %}

{% block wrapper %}
    <div id="wrapper">
    {% block header %}
    <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">兔子🐰</div>
      <div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
              {% block header_li %}
                <li><a href="{% url 'index:enter' %}">网站首页</a></li>
                <li><a href="{% url 'resource:downloadP' %}">网站资源</a>
                </li>
                <li><a href="{% url 'notification:noti' %}">网站公告</a>
                </li>
                <li><a href="{% url 'blog:articles' %}">技术文章</a> </li>
                <li><a href="404.html">给我留言</a> </li>
                <li><a href="{% url 'blog:blog' %}">博客首页</a> </li>
              {% endblock %}

          </ul>
        </div>
      </nav>
  <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT>
    </div>
  </header>
    {% endblock %}
    {% block container %}
            <div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">网站资源目录</a></span><b>网站资源目录</b></h2>
      <div class="lispic">
        <ul>
            {% for tag in tags %}
                <li><a href="{% url 'blog:article_list' tag.tag_id%}"><img src="{{ tag.img_url }}"><span>{{ tag.tag_name }}</span></a></li>
            {% endfor %}


        </ul>
      </div>
    {% if now_page > page_num %}
        <div class="pagelist">页次：{{ now_page }}/{{ page_num }} 每页8条 总数{{ all_num }}<a href="{% url 'resource:page_change' page_num=1%}">首页</a><a href="#" target="_self">上一页</a><a href="{% url 'resource:page_change' page_num=1%}">下一页</a><a href="{% url 'resource:page_change' page_num=1%}">尾页</a></div>
      <p>由于本站功能正在开发，相册暂时只有一张图片</p>
    {% endif %}
      <div class="pagelist">页次：{{ now_page }}/{{ page_num }} 每页8条 总数{{ all_num }}<a href="{% url 'resource:page_change' page_num=1%}">首页</a><a href="{% url 'resource:page_change' page_num=now_page|add:-1%}">上一页</a><a href="{% url 'resource:page_change' page_num=now_page|add:1%}">下一页</a><a href="{% url 'resource:page_change' page_num=page_num%}">尾页</a></div>
    </div>
  </div>

</div>
    {% endblock %}
  <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="http://www.tthcclove.cn">XXX个人博客</a> 备案号：陕ICP备XXX号</p>
      </div>
      <div class="f_r textr">
        <p>QQ：XXX</p>
      </div>
    </div>
  </footer>
</div>
<!--百度推送代码-->
{% endblock %}