{% extends 'base/base_article.html' %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href="../../static/css/main.css">
    <link href="../../static/css/base.css" rel="stylesheet">
        <link href="../../static/css/index.css" rel="stylesheet">

{% endblock %}

{% block container %}
         <div class="container">
    <div class="bloglist f_l">






    </div>

    <!--首页主要文章部分结束-->

    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_self">我的电话</a></li>
            <li><a class="qq" href="#" target="_self">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_self" title="如果QQ未被唤起请按照提示添加我的QQ">我的QQ</a></li>
            <li><a class="prize" href="#" target="_self" title="个人奖项">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <div class="ad"></div>
    </div>
  </div>
        {% endblock %}

{% block next_page %}
    <div class="pagelist">页次：{{ page_now|add:-1 }}/{{ page_num }} 每页{{ every_page_show }}条 总数{{ all_num }}<a href="">首页</a><a href="#" target="_self">上一页</a><a href="#" id="next_page">下一页</a>
        <a href="">尾页</a></div>

{% endblock %}

{% block comment %}
    <div class="comment" style="position: relative; height: 166px;">

    </div>
{% endblock %}