{% extends 'base/base_article.html' %}
{% load static %}

{% block link %}
    <link href="../../static/css/base.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="../../static/js/modernizr.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
{% endblock %}


{% block container %}
    <div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">网站公告</a></span><b>网站公告</b></h2>
      <div class="dtxw box" style="position: relative;
	left: 130px;">
        <li>
          <div class="dttext f_l" style="position: relative;">
            <ul>
              <h2><a href="#" target="_blank">测试</a></h2>
              <p></p>
              <span>2017-3-10</span>
            </ul>
          </div>
        </li>
        <li>
          <div class="dttext f_l" style="position: relative;">
            <ul>
              <h2><a href="#" target="_blank">测试</a></h2>
              <p></p>
              <span>2017-3-10</span>
            </ul>
          </div>
        </li>
        <li>
          <div class="dttext f_l" style="position: relative;">
            <ul>
              <h2><a href="#" target="_blank">测试</a></h2>
              <p></p>
              <span>2017-3-10</span>
            </ul>
          </div>
        </li>
        <li>
          <div class="dttext f_l" style="position: relative;">
            <ul>
              <h2><a href="#" target="_blank">测试</a></h2>
              <p></p>
              <span>2017-3-10</span>
            </ul>
          </div>
        </li>
      </div>
      <div class="pagelist">页次：1/1 每页25 总数10<a href="#" target="_self">首页</a><a href="#" target="_self">上一页</a><a href="#" target="_self">下一页</a><a href="#" target="_self">尾页</a></div>
    </div>
  </div>
  <div class="blank"></div>
  <!-- container代码 结束 -->
<div class="comment">
    <div id="SOHUCS"></div>

<!--PC版-->

<!--PC和WAP自适应版-->
</div>

</div>
{% endblock %}