{% extends 'base/base_article.html' %}
{% load static %}

{% block link %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/auto_meida.css' %}">
{% endblock %}
{% block media_link %}
    <link rel="stylesheet" href="{% static 'css/auto_meida_tag_resource.css' %}">
{% endblock %}
{% block script %}
    <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}


{% block container %}
    <div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">网站公告</a></span><b>网站公告</b></h2>
      <div class="dtxw box">
          {% for notification in notifications %}
            <li>
          <div class="dttext f_l" style="position: relative;">
            <ul>
              <h2><a href="#" target="_blank">{{ notification.title }}</a></h2>
              <p>{{ notification.content }}</p>
              <span>{{ notification.create_time }}</span>
            </ul>
          </div>
        </li>
          {% endfor %}


      </div>
{#      <div class="pagelist">页次：1/1 每页25 总数10<a href="#" target="_self">首页</a><a href="#" target="_self">上一页</a><a href="#" target="_self">下一页</a><a href="#" target="_self">尾页</a></div>#}
    </div>
  </div>
  <div class="blank"></div>
  <!-- container代码 结束 -->
<div class="comment">
    <div id="SOHUCS"></div>

<!--PC版-->

<!--PC和WAP自适应版-->
</div>

</div>
{% endblock %}